
body {
    margin: 0;
    text-align: center;
    background-color: #ccc;
}

h1 {
    background-color: rgb(170, 170, 170);
}
em {
    color:  rgb(65, 65, 65);
}
em strong {
    color: red;
}

img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

header {
    margin: 20px;
}

.logo {
    width: 177px;
    height: 250px;
}

.lista {
    text-align: center;
    background-color: antiquewhite;
}

.lista h2 {
    font-weight: bold;
}
ul li {
    line-height: 3.5;
    font-style: italic;
    list-style: none;
}

.lista-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.imagen-barbero {
    width: 250px;
    height: 250px;
}

.header {
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    /* padding: 30px; */
}

.nav a{
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 0 15px;
}
.nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}
.diferenciales {
    margin: 40px;
}
.diferenciales__contenido {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}



footer {
    text-align: center;
    background-image: url(/img/bg.jpg);
    padding: 30px;
}

.copyright {
    color: #fff;
    font-size: 13px;
    margin-top: 20px;
}
